#loader {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader > div:has(.loader-pokeball) {
    position: relative;
}
.loader-pokeball {
    width: 10em;
    animation: jump 2s infinite ease-in-out;
    position: relative;
}

@keyframes jump {
    to {
        rotate: 360deg;
    }
}