nav > ul {
    display: flex;
    list-style: none;
    color: var(--clr-secondary-400);
    font-size: var(--fs-500);
    gap: 2%;
    padding-block: 1%;
}
nav > ul > li {
    padding: 1% 2%;
}
nav > ul > li:last-child {
    margin-left: auto;
}
nav > ul > li:hover,
nav > ul > li > *:hover {
    color: var(--clr-neutral-100);
    cursor: pointer;
}
nav > ul > li > * {
    text-decoration: none;
    color: var(--clr-secondary-400);
}
nav > li:has(.toggle-btn) {
    display: none;
}
.toggle-btn {
    transition: transform 250ms ease-in-out;
}

@media (max-width: 50em) {
    nav { 
        display: flex;
    }
    nav > li:has(.toggle-btn) {
        display: block;
        right: 0.5em;
        margin-top: 1em;
        position: absolute;
    }
    nav > ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-block: 5%;
        background-color: var(--clr-primary-800);
    }
    nav > ul > li:last-child {
        margin-left: 0;
    }
}