#individual-pokemon {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 100%));
}
.pokemon-image {
    width: min(25em, 100%);
    display: block;
    margin: auto;
}
.individual-pokemon {
    place-self: center;
}
.pokemon-description > h1 {
    text-align: center;
    margin-block: 0.5em;
}
.image-container {
    display: grid;
    grid-template-columns: 70% 30%;
}