:root {
    /* Colors */
    --clr-primary-900: #000814;
    --clr-primary-800: #000814c3;
    --clr-primary-600: #001D3D;
    --clr-primary-300: #003566;
    --clr-secondary-600: #FFC300;
    --clr-secondary-400: #FFD60A;
    --clr-neutral-100: #FFF;

    /* Gradients */
    --bg-gradient: linear-gradient(45deg, #5533ff80, #20bdff80, #a5fecb80);
    --bg-webkit-gradient: -webkit-linear-gradient(45deg , #5433ff80, #20bdff80, #a5fecb80);
    --yellow-gradient: linear-gradient(-45deg, #FCD93D80, #E8C933); 

    /* Font Families */
    --ff-primary-400: 'Poppins', sans-serif;
    --ff-primary-900: 'Kanit', sans-serif;
    --ff-secondary-400: 'Cormorant Garamond', serif;

    /* Font Sizes */
    --fs-100: 0.5em;
    --fs-300: 1em;
    --fs-400: 1.25em;
    --fs-500: 1.5em;
    --fs-600: 2em;
    --fs-700: 3em;
    --fs-900: 5em;

    /* Box Shadows */
    --bs-glass-effect: inset 0.25em 0.25em 2em #5533ff,
    0.25em 0.25em 1em #20bdff;

    /* Filters */
    --glass-filter: blur(2px) saturate(180%);
}

body {
    min-height: 100vh;
    color: var(--clr-neutral-100);
}
.loader {
    font-size: var(--fs-900);
    color: var(--clr-neutral-900)
}